@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5e2bff;
  --accent-color: #fad02f;
  --text-color: #333333;
  --background-color: #f9fafb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.transition {
  transition: all 0.3s ease;
}